---
export interface Props {
  title: string;
  body: string;
  href: string;
  image: string;
  tags: string[];
}

const { href, title, image, body, tags } = Astro.props;
---

<div class="card w-1/5 bg-neutral shadow-xl">
  <a href={href}>
    <figure>
      <img
        src={image}
        alt="Thumbnail for linked site"
        width="450"
        height="250"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        {title}
        <!-- <div class="badge badge-primary">NEW</div> -->
      </h2>
      <p>{body}</p>
      <div class="card-actions justify-end">
        {tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
      </div>
    </div>
  </a>
</div>

<style>
  .card:is(:hover, :focus-within) h2 {
    color: #ffffff;
  }
</style>
